@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:600)

$black: #1A1919
$red: #64192A
$timing-with-delay: 1s

*
  +box-sizing(border-box)

html, body
  font-family: 'Source Sans Pro', sans-serif
  height: 100%

.background-container
  position: fixed
  z-index: -9999
  overflow: hidden
  width: 100%
  min-height: 100%
  background: url(/img/bg.jpg) no-repeat
  background-size: cover
  background-position: 50% 0
  +animation(bg-fade-in 1s)

.logos
  +clearfix

.heart
  width: 100%
  margin: auto
  +position(absolute, 100px 0 0 0)

.heart-icon
  +transform-origin(50% 0)
  +position(relative, 92px 0 0 50%)
  +transform(translateX(-50%))

.dividers
  +clearfix
  width: 4px
  margin: 92px auto 0
  +position(absolute, 100px 0 0 50%)
  +transform(translateX(-50%))

.red-divider, .black-divider
  float: left
  width: 2px
  height: 800px
  +animation(divider 2s linear)

.red-divider
  +linear-gradient(rgba($red, 1), rgba($red, 0), $fallback: transparent)

.black-divider
  +linear-gradient(rgba($black, 1), rgba($black, 0), $fallback: transparent)

.rails-logo, .lineman-logo
  width: 29%
  position: relative
  top: 60px
  +clearfix

  .page-logo
    +hide-text
    padding: 0
    margin: auto
    background-repeat: no-repeat
    background: transparent
    display: block

  a.button
    font-family: 'Source Sans Pro', sans-serif
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    text-decoration: none
    background: rgba(white, 0)
    padding: 7px 0 4px
    margin: 20px auto 0
    display: block
    border: 2px solid
    border-radius: 5px
    cursor: pointer
    +transition(all .2s)

.rails-logo
  float: left
  margin: 0 0 0 15%
  right: 5%
  +animation(rails-slide $timing-with-delay)


  .page-logo
    +size(141px 180px)
    +retina-image(/img/rails-logo, 100%)
    margin: 0 auto 21px


  a.button
    width: 188px
    color: $red
    border-color: $red

    &:hover
      background: $red
      color: white


.lineman-logo
  float: right
  margin: 0 15% 0 0
  left: 5%
  +animation(lineman-slide $timing-with-delay)


  .page-logo
    +size(163px 181px)
    +retina-image(/img/lineman-rails-logo, 100%)

  a.button
    width: 168px
    border-color: $black
    color: $black

    &:hover
      background: $black
      color: white

.code
  margin: 100px 0 0
  width: 100%
  +clearfix

.rails-code
  float: left
  margin: 0 0 0 7%
  right: 5%
  width: 35%

  .code-block
    code
      border-radius: 4px
      padding: 15px

    h3
      color: $red

.lineman-code
  float: right
  width: 35%
  margin: 0 7% 0 0
  left: 5%

  .code-block
    code
      border-radius: 4px
      padding: 15px

.code-block

  &:nth-child(1)
    +animation(code-fade1 2s)

  &:nth-child(2)
    +animation(code-fade2 2.1s)

  &:nth-child(3)
    +animation(code-fade3 2.2s)

  &:nth-child(4)
    +animation(code-fade4 2.4s)

  &:nth-child(5)
    +animation(code-fade5 2.6s)

.code-spacer
  float: right
  width: 100%
  left: 5%
  height: 132px

+keyframes(code-fade1)
  0%, 15%
    opacity: 0

+keyframes(code-fade2)
  0%, 30%
    opacity: 0

+keyframes(code-fade3)
  0%, 45%
    opacity: 0

+keyframes(code-fade4)
  0%, 55%
    opacity: 0

+keyframes(code-fade5)
  0%, 65%
    opacity: 0

+keyframes(bg-fade-in)
  0%
    opacity: 0

+keyframes(divider)
  0%, 17%
    height: 0px

+keyframes(rails-slide)
  0%, 25%
    opacity: 0
    +transform(translateX(-80px))

+keyframes(lineman-slide)
  0%, 25%
    opacity: 0
    +transform(translateX(80px))

