.template-projects {
  margin: 10px 0px 60px 20px;

  a {
    display: block;
    margin-top: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .templates {
    margin-right: 1em;
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
    background-size: 100%;

    &.backbone {
      background-image: url("/img/backbone-logo.png");
    }

    &.angular {
      background-image: url("/img/angular-logo.png");
    }

    &.ember {
      background-image: url("/img/ember-logo.png");
    }

    &.lib {
      background-image: url("/img/js-lib-logo.png");
    }

    &.blog {
      background-image: url("/img/blog-logo.png");
    }
  }
}
