.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.template-projects {
  margin: 10px 0px 60px 20px;

  a {
    display: block;

    margin-left: 20px;
    text-decoration: none;
    float: left;
    width: 145px;

    &:hover {
      text-decoration: underline;
    }
  }
  h4{
    font-size: 17px;
  }
  .templates {

    position: relative;

    height: 145px;
    width: 145px;
    background-size: 100%;

    &.backbone {
      background-image: url("/img/backbone-logo.png");
    }

    &.angular {
      background-image: url("/img/angular-logo.png");
    }

    &.ember {
      background-image: url("/img/ember-logo.png");
    }

    &.lib {
      background-image: url("/img/js-lib-logo.png");
    }

    &.blog {
      background-image: url("/img/blog-logo.png");
    }
  }
}

@media only screen and (max-width: 500px){
  .template-projects{
    a{
      width: 100px;
      height: 190px;
    }
    .templates{
      width: 100px;
      height: 100px;
    }
  }
}
